@import "tailwindcss";
@plugin "daisyui";

:root {
  --font-primary: var(--font-montserrat);
  --main-color: #0ef;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-lang="bn"] {
  --font-primary: var(--font-shiliguri);
}

[data-theme="dark"] {
  
}

@theme {
  /* sm uses ending point  */
  --breakpoint-sm: 425px;

  /* rest of  all means starting point  */
  --breakpoint-smd: 426px;
  --breakpoint-mmd: 610px;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
}

@theme inline {
  --font-primary: var(--font-montserrat);
}

@utility scrollbar-hidden {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

#navbar-search-icon {
  z-index: 1;
}

#navbar-icon-div div {
  width: 45px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#navbar-icon-div div p {
  color: white;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}

#navbar-icon-div div:hover {
  cursor: pointer;
  color: #1a1a1a;
  box-shadow: 0 0 1rem var(--main-color);
}

/* #navbar-icon-div div:hover p {
  color: #1a1a1a;
} */

#navbar-icon-div div svg {
  width: 25px;
  height: 25px;
  color: white;
}

.swiper-slide {
  display: flex;
  place-items: center;
}

#trending-component div {
  font-size: 13px;
  white-space: nowrap;
  font-weight: 600;
  cursor: pointer;
}

#trending-component div:hover {
  color: #196296;
}

#trending-component div:hover li a {
  color: black;
  font-weight: 500;
}

#trending-component div:hover li a:hover {
  color: #196296;
  font-weight: 500;
}

#deal_form fieldset{
  width: 280px;
}

#footer-get-app-div section {
  background-color: #555555;
  width: 80%;
  max-width: 220px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#footer-get-app-div section p {
  font-size: 14px;
}

#footer-get-app-div section span {
  font-size: 12px;
}