@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-base-100: #FAF9F6;
}

:root {
  --font-primary: var(--font-montserrat);
  --main-color: #F42A41;
  --foreground: rgb(255, 0, 106);

  
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-lang="bn"] {
  --font-primary: var(--font-shiliguri);
}

/* [data-theme="light"] { 
  --background : #12D32A;
} */

/* [data-theme="dark"] { 
  
} */

@theme {
  /* sm uses ending point  */
  --breakpoint-sm: 425px;

  /* rest of  all means starting point  */
  --breakpoint-smd: 426px;
  --breakpoint-mmd: 610px;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --color-dealbondhu : #006A4E;
 --font-montserrat :  var(--font-montserrat);
 --font-shiliguri : var(--font-shiliguri)
  
}

@theme inline {
  --font-primary: var(--font-montserrat);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  font-family: var(--font-primary), sans-serif;
  margin: 0 auto;
  -ms-overflow-style: none;
}

#navbar-search-icon {
  z-index: 1;
}

#navbar-icon-div div {
  width: 45px;
  aspect-ratio: 1/1;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#navbar-icon-div div:hover {
  cursor: pointer;
  color: #1a1a1a;
}

/* #navbar-icon-div div:hover p {
  color: #1a1a1a;
} */

#navbar-icon-div div svg {
  width: 25px;
  height: 25px;
  color: white;
}

.swiper-slide {
  display: flex;
  place-items: center;
}

#trending-component div {
  font-size: 13px;
  white-space: nowrap;
  font-weight: 600;
  cursor: pointer;
}

#trending-component div:hover {
  color: #F42A41;
}

#trending-component div:hover li a {
  color: black;
  font-weight: 500;
}

#trending-component div:hover li a:hover {
  color: #F42A41;
  font-weight: 500;
}

#deal_form fieldset{
  width: 280px;
}

#footer-get-app-div section {
  background-color: #555555;
  width: 80%;
  max-width: 220px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#footer-get-app-div section p {
  font-size: 14px;
}

#footer-get-app-div section span {
  font-size: 12px;
}